<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/reset.css" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="../header/styles.css" />
    <title>Seja um voluntário</title>
  </head>
  <body>
    <header>
      <div class="header-top">
        <div class="logo">
          <img class="logo-image" src="../../../assets/logo.png" />
          <div class="logo-texts">
            <h1 class="logo-title">ABMCD</h1>
            <h3 class="logo-description">
              Associação Beneficiente Dos Moradores da Caixa D'água
            </h3>
          </div>
        </div>

        <button class="button-doe-agora">DOE AGORA</button>
      </div>
      <div class="header-bottom">
        <a href="../home-page/index.html">HOME</a>
        <a href="">SOBRE NÓS</a>
        <a href="https://www.facebook.com/abmcdagua/">FACEBOOK</a>
        <a href="">CONTATO</a>
      </div>
    </header>

    <main>
      <div class="background-images">
        <img src="../../../assets/close-no-homem-sorrindo-na-natureza.jpg">
        <img src="../../../assets/close-no-homem-sorrindo-na-natureza.jpg">
        <img src="../../../assets/close-no-homem-sorrindo-na-natureza.jpg">
        <img src="../../../assets/close-no-homem-sorrindo-na-natureza.jpg">
      </div>
      <div class="card">
        <p class="abmcd">ABMCD</p>
        <h1 class="card-title">SEJA UM VOLUNTÁRIO</br>OU DOE AGORA MESMO</h1>
        <p class="card-description">
          Você pode fazer parte da nossa missão de criar um futuro melhor para
          os necessitados. Seja através do voluntariado, fazendo uma doação ou
          divulgando nossa causa, toda contribuição conta. Juntos, podemos
          causar um impacto duradouro e levar esperança às comunidades
          vulneráveis.
        </p>
        <button class="button-fale-conosco">Fale conosco</button>
      </div>
    </main>
  </body>
</html>
